<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid ">
    <br>
    <br>
    <br>
  <div class="row">
    <div class="col-sm-3" ></div>
    <div class="col-sm-6" >
        <div class="card">
            <div class="card-body">
                <form action="/login" method="POST">
                    <h3 class="text-center text-info">Login to continue...</h3>
                    <br>
                    <br>
                     <% if(messages.error){ %>
                        <%= messages.error %>
                      <% } %>
                    <div class="form-group">
                      <label for="email">Email address:</label>
                      <input type="email" class="form-control" name="email" placeholder="Enter email" id="email">
                    </div>
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" name="password" placeholder="Enter password" id="pwd">
                    </div>
                    <div class="form-group form-check">
                      <label class="form-check-label">
                        <a href="/register" class="text-info">Not  have an  account? Register</a>
                      </label>
                    </div>
                    <button type="submit" class="btn btn-info">Login</button>
                  </form>
            </div>
        </div>
    </div>
    <div class="col-sm-3" ></div>
    
  </div>
</div>

</body>
</html>
